<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>거기가니?</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css"/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Kaushan+Script}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/earlyaccess/cwtexhei.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/earlyaccess/jejuhallasan.css}" type="text/css">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/agency.min.css}" rel="stylesheet"/>

    <style>
      a:link
      {color: #dd3806;}
      a:visited
      {color: #dd3806;}
      a:hover
      {color: #dd3806;}

      BODY {
         font-family:  'cwTeXHei', 'Jeju Hallasan', serif;
      }

 img:not([src]) {
			visibility: hidden;
		}

		/* Fixes Firefox anomaly during image load */
		@-moz-document url-prefix() {
			img:-moz-loading {
				visibility: hidden;
			}
		}
    </style>
  </head>

  <body>

    <!-- Modal -->
    <div th:fragment="dustBasedDestList" class="modal-dialog modal-lg" style="opacity:.93;">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#dd3806;border: 1px solid #555555 !important;">
          <div class="row">
            <h3><i class="fa fa-map-marker fa-fw" style="color:white;"></i></h3>
            <h3 th:text="${region_name}" style="color:white;font-family: 'cwTeXHei', 'Jeju Hallasan', serif;"></h3>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body bg-light" style="border: 1px solid #555555 !important;">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <section id="portfolio" style="padding: 10px 0;">

                    <div class="row">
                      <div class="col-lg-12 text-center">
                         <div>
                          <th:block th:if="${destination_info != null}">
                            <ul class="nav nav-tabs">
                              <li th:each="category,iterStat : ${destination_info}" class="nav-item">
                                <a th:class="'nav-link' + ${iterStat.index == 0 ? ' active' : ''}" th:href="'#popular-ct-tab' + ${iterStat.index}" data-toggle="tab"><small th:text="${category.key} + ' (' + ${category.totalSize} + ')'"></small></a>
                              </li>
                            </ul>
                          </th:block>
                        </div>
                        <br />
                      </div>
                    </div>

                    <div class="tab-content">
                      <th:block th:each="destlist,iterStat : ${destination_info}" th:if="${destination_info != null}">
                        <div th:class="'tab-pane fade' + ${iterStat.index == 0 ? ' active in show' : ''}" th:id="'popular-ct-tab' + ${iterStat.index}">
                          <div class="row">
                            <th:block th:each="doc,iterStat : ${destlist.jobMapList}" th:if="${destlist.jobMapList != null}">
                              <div class="col-md-4 col-sm-6 portfolio-item">

                                <div class="portfolio-caption">
                                  <a class="portfolio-link" th:onclick="'javascript:show_detail(' + ${doc.contentid} + ')'">
                                    <div class="portfolio-hover">
                                      <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                      </div>
                                    </div>

                                    <img class="img-fluid lazy" style="border: 1px solid #aaaaaa;padding:1px;" th:attr="data-src=${(doc.firstimage2 != null) ? doc.firstimage2 : '/img/no_image_available.png'}" th:alt="${doc.title}"/>

                                  </a>

                                  <h6 th:text="${doc.titleshort}" style="font-family: 'cwTeXHei', 'Jeju Hallasan', serif;"></h6>
                                  <div class="text-left">
                                    <small class="text-muted" th:text="${doc.overviewshort}"></small>
                                  </div>
                                  <hr/>
                                  <ul class="post-footer">
                                    <li class="fa fa-eye" th:text="' ' +${doc.clickcount}"></li>
                                  </ul>
                                </div>
                              </div>
                            </th:block>
                          </div>
                        </div>
                      </th:block>
                    </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="border: 1px solid #555555 !important;">
          <button class="btn btn-primary" data-dismiss="modal" type="button" style="background-color:#dd3806;">
            <i class="fa fa-times"></i>
            Close
          </button>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact form JavaScript -->
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/agency.min.js}"></script>

    <!-- image lazy loading -->
    <!--<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.14.0/lazyload.min.js}"></script>

    <script th:inline="javascript">
        new LazyLoad();
    </script>-->
  </body>

</html>
