<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>공고찾니?</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css"/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Kaushan+Script}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/earlyaccess/cwtexhei.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/earlyaccess/notosanskr.css}" type="text/css">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/agency.min.css}" rel="stylesheet"/>

    <style>
      .post-footer{ position: relative; bottom: 0; left: 0; right: 0; text-align: center; }
      .post-footer > li{ display: inline-block; line-height:5px; border-right: 1px solid #fff; background: #FFFFFF; }
      .post-footer > li:first-child{ float: left; }
      .post-footer > li:last-child{ border: 0px; float: right; }
      .post-footer i{ display: inline-block; margin-right: 10px; opacity: .6; font-size: 1.1em; }

      hr.style-my {
        color: #dd3806;
      }

      table { table-layout: fixed; }
      table th, table td {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      tr td{
        padding: 1 !important;
        margin: 0 !important;
      }

      a:link
      {color: #dd3806;}
      a:visited
      {color: #dd3806;}
      a:hover
      {color: #dd3806;}

      BODY {
         font-family:  'cwTeXHei', 'Noto Sans KR', serif;
      }

      img:not([src]) {
			visibility: hidden;
		}

		/* Fixes Firefox anomaly during image load */
		@-moz-document url-prefix() {
			img:-moz-loading {
				visibility: hidden;
			}
		}

    </style>
  </head>

  <body id="page-top" onload="document.getElementById('menu-sr').click();">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <div class="logo">
          <a th:href="@{/main}"><img th:src="${'/img/logos/gonggochatni_icon_48x48.png'}" title="gonggochatni"></a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio" id="menu-sr" style="font-family: 'cwTeXHei', 'Noto Sans KR', serif;"><i class="fa fa-search fa-fw"></i>검색된 공고</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/statistics}" style="font-family: 'Noto Sans KR', serif;"><i class="fa fa-bar-chart-o fa-fw"></i>통계</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-bottom" id="bottomNav">
      <div class="container">
        <div class="logo">

        </div>
        <div>
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <div class="nav-link col-md-12 col-lg-12 col-xl-12 mx-auto">
                <form id="search_form" role="form" th:action="@{/search-jobs}" method="get">
                  <div class="form-group">
                    <div class="input-group">
                      <input id="keywords" name="keywords" style="border-color: #555555;opacity: .85;font-size:13px;font-family: 'Noto Sans KR', serif;" type="text" class="form-control" placeholder="검색어를 입력하세요..." th:onkeypress="'javascript:if(event.keyCode==13) {search(); return false;}'"/>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-block btn-sm" style="border-color: #555555;background-color: #aaaaaa;opacity: .85;"th:onclick="'javascript:search();'">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in" style="font-family: 'cwTeXHei', 'Noto Sans KR', serif;">똑똑한 구직 도우미</div>
          <div class="intro-heading text-uppercase" style="font-family: 'cwTeXHei', 'Noto Sans KR', serif;">공고찾니?</div>
          <form id="search_form_header" role="form" th:action="@{/search-jobs}" method="get">
            <div class="form-group">
              <div class="input-group" s>
                <input id="keywords-header" name="keywords" style="border-color: #555555;opacity: .75;font-family: 'Noto Sans KR', serif;" type="text" class="form-control" placeholder="" th:onkeypress="'javascript:if(event.keyCode==13) {search_header(); return false;}'"/>
                <div class="input-group-append">
                  <button type="button" class="btn btn-block" style="fon-size: 18px;border-color: #555555;background-color: #aaaaaa;opacity: .65;" th:onclick="'javascript:search_header();'">
                    <i class="fa fa-search fa-2x"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>


    <!-- jobs -->
    <section id="portfolio" style="padding: 20px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h6 class="section-heading text-uppercase">
              <span class="fa-stack fa-4x">
                <i class="fa fa-stop fa-stack-2x text-info"></i>
                <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
              </span>
            </h6>

            <h3 class="section-subheading" style="margin-bottom: 30px;font-family: 'Noto Sans KR', serif;">검색된 공고</h3>

            <div>
              <th:block th:if="${job_info != null}">
                <ul class="nav nav-tabs">
                  <li th:each="category,iterStat : ${job_info}" class="nav-item">
                    <a th:class="'nav-link' + ${iterStat.index == 0 ? ' active' : ''}" th:href="'#new-ct-tab' + ${iterStat.index}" data-toggle="tab" style="font-family: 'Noto Sans KR', serif;"><small th:text="${category.key} + ' (' + ${category.totalSize} + ')'"></small></a>
                  </li>
                </ul>
              </th:block>
            </div>
            <br />
          </div>
        </div>

        <div class="tab-content">
          <th:block th:each="joblist,iterStat : ${job_info}" th:if="${job_info != null}">
            <div th:class="'tab-pane fade' + ${iterStat.index == 0 ? ' active in show' : ''}" th:id="'new-ct-tab' + ${iterStat.index}">

              <th:block th:if="${joblist.jobListMap != null}">
                <table class="table table-striped table-bordered" style="font-family: 'Noto Sans KR', serif;">
                  <thead>
                    <tr class="text-center">
                      <th style="width:100%"><small>지역별</small></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-middle">
                        <ul class="nav nav-pills">
                          <li th:each="ac,iterStat : ${joblist.jobListMap}" class="nav-item">
                            <a th:class="'nav-link' + ${iterStat.index == 0 ? ' active' : ''}" th:href="'#new-ac-tab-' + ${joblist.seq} + '-' + ${iterStat.index}" data-toggle="tab"><small th:text="${ac.key} + ' (' + ${ac.value.size()} + ')'"></small></a>
                          </li>
                        </ul>
                      </td>
                  </tbody>
                </table>
              </th:block>

              <div class="tab-content">
                <th:block th:each="list,iterStat : ${joblist.jobListMap}" th:if="${joblist.jobListMap != null}">
                  <div th:class="'tab-pane fade' + ${iterStat.index == 0 ? ' active in show' : ''}" th:id="'new-ac-tab-' + ${joblist.seq} + '-' + ${iterStat.index}">
                    <div class="row">
                    <th:block th:each="doc,iterStat: ${list.value}" th:if="${list.value != null}">
                      <div class="col-md-4 col-sm-6 portfolio-item">
                        <div class="portfolio-caption">
                          <div class="text-left aligh-middle" style="padding-bottom:5px;">
                             <i class="fa fa-building-o"></i>
                             <small class="text-muted" th:text="${doc.get('company-name-short')}"></small>
                          </div>

                          <a style="color: #000000;" th:onclick="'javascript:show_detail(' + ${doc.get('id')} + ')'">
                            <h6 class="text-left" th:text="${doc.get('position-title-short')}" style="font-family: 'cwTeXHei', 'Noto Sans KR', serif;"></h6>
                          </a>

                          <hr/>
                          <ul class="post-footer" style="margin: 0; padding: 0;font-family: 'cwTeXHei', 'Noto Sans KR', serif;font-size:13px;">
                            <li class="fa fa-user" style="color:#28a745;" th:text="' ' +${doc.get('position-job-type-short')}"></li>
                            <li class="fa fa-calendar" style="color:#28a745;" th:text="' ~ ' + ${doc.get('expiration-timestamp-formatted')}"></li>
                          </ul>
                        </div>
                      </div>
                    </th:block>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </th:block>
        </div>

        <!--<tenping class="adsbytenping" style="width: 100%; margin: 0px auto; display: block; max-width: 768px;" tenping-ad-client="ULkZYhHDonqxNgJx%2bd2t5XgWCcx0QUdnsdGDbY1yMIshP4q34efQL0ddArqjWnF3" tenping-ad-display-type="1LawCE8FqKOhetXZhMopsQ%3d%3d"></tenping><script async src='//ads.tenping.kr/scripts/adsbytenping.min.js' ></script>-->
      </div>
    </section>

    <hr/>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <span class="copyright" style="font-family: 'cwTeXHei', 'Noto Sans KR', serif;">Copyright &copy; 2018 GongGoChatNi All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact form JavaScript -->
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/agency.min.js}"></script>

    <!-- image lazy loading -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.14.0/lazyload.min.js}"></script>

    <script>
        new LazyLoad();
    </script>

    <script th:inline="javascript">
      function search() {
        var text = $("#keywords").val();
        text = text.trim();
        if(text == '') return;

        $("#search_form").submit();
      }

      function search_header() {
        var text = $("#keywords-header").val();
        text = text.trim();
        if(text == '') return;

        $("#search_form_header").submit();
      }

      function show_detail(job_id) {
        var url = /*[[@{'/job-detail/'}]]*/;
        url = url + job_id;
        var form = document.createElement("form");
        form.setAttribute("method", "GET");
        form.setAttribute("action", url);
        document.body.appendChild(form);
        form.submit();
      }

    </script>

  </body>

</html>
