<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>거기가니?</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700}" rel="stylesheet" type="text/css"/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Kaushan+Script}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700}' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/earlyaccess/cwtexhei.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/earlyaccess/jejuhallasan.css}" type="text/css">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/agency.min.css}" rel="stylesheet"/>

    <style>
      .post-footer{ position: relative; bottom: 0; left: 0; right: 0; text-align: center; }
      .post-footer > li{ display: inline-block; line-height:5px; border-right: 1px solid #fff; background: #FFFFFF; }
      .post-footer > li:first-child{ float: left; }
      .post-footer > li:last-child{ border: 0px; float: right; }
      .post-footer i{ display: inline-block; margin-right: 10px; opacity: .6; font-size: 1.1em; }

      table { table-layout: fixed; }
      table th, table td {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      tr td{
        padding: 1 !important;
        margin: 0 !important;
      }

      hr.style-my {
        color: #FFFFFF;
      }

      a:link
      {color: #dd3806;}
      a:visited
      {color: blue;}
      a:hover
      {color: #dd3806;}

      <!--.modal.modal-wide .modal-dialog {
            width: 100%;
        }
      .modal-wide .modal-body {
            overflow-y: auto;
        }-->

      .modal-lg {
          max-width: 95% !important;
      }

      BODY {
         font-family:  'cwTeXHei', 'Jeju Hallasan', serif;
      }
    </style>
  </head>

  <body id="page-top" onload="document.getElementById('menu-statistics').click();">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <div class="logo">
          <a th:href="@{/popular-destinations}"><img th:src="${'/img/logos/geogigani_icon_48x48.png'}" title="geogigani"></a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="'javascript:getLocation()'" style="font-family: 'Jeju Hallasan', serif;"><i class="fa fa-bullseye fa-fw"></i>내 근처 여행지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/dust-info}" style="font-family: 'Jeju Hallasan', serif;"><i class="fa fa-cloud fa-fw"></i>미세먼지 예보</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio" id="menu-statistics" style="font-family: 'Jeju Hallasan', serif;"><i class="fa fa-bar-chart-o fa-fw"></i>통계</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-bottom" id="bottomNav">
      <div class="container">
        <div class="logo">

        </div>
        <div>
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <div class="nav-link col-md-12 col-lg-12 col-xl-12 mx-auto">
                <form id="search_form" role="form" th:action="@{/search-destinations}" method="get">
                  <div class="form-group">
                    <div class="input-group">
                      <input id="keywords" name="keywords" style="border-color: #555555;opacity: .85;font-family: 'Jeju Hallasan', serif;" type="text" class="form-control" placeholder="검색어를 입력하세요..." th:onkeypress="'javascript:if(event.keyCode==13) {search(); return false;}'"/>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-block btn-sm" style="border-color: #555555;background-color: #aaaaaa;opacity: .85;"th:onclick="'javascript:search();'">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Destination Search and Share</div>
          <div class="intro-heading text-uppercase" style="font-family: 'cwTeXHei', 'Jeju Hallasan', serif;">거기가니?</div>
          <form id="search_form_header" role="form" th:action="@{/search-destinations}" method="get">
            <div class="form-group">
              <div class="input-group" s>
                <input id="keywords-header" name="keywords" style="border-color: #555555;opacity: .75;font-family: 'Jeju Hallasan', serif;" type="text" class="form-control" placeholder="" th:onkeypress="'javascript:if(event.keyCode==13) {search_header(); return false;}'"/>
                <div class="input-group-append">
                  <button type="button" class="btn btn-block" style="fon-size: 18px;border-color: #555555;background-color: #aaaaaa;opacity: .65;" th:onclick="'javascript:search_header();'">
                    <i class="fa fa-search fa-2x"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>

    <!-- Dust Info -->
    <section id="portfolio" style="padding: 50px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h6 class="section-heading text-uppercase">
              <span class="fa-stack fa-4x">
                <i class="fa fa-stop fa-stack-2x text-info"></i>
                <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
              </span>
            </h6>
            <h3 class="section-subheading text-muted" style="margin-bottom: 30px;font-family: 'cwTeXHei', 'Jeju Hallasan', serif;">통계 정보</h3>
            <tenping class="adsbytenping" style="width: 100%; margin: 0px auto; display: block; max-width: 580px;" tenping-ad-client="ULkZYhHDonqxNgJx%2bd2t5XgWCcx0QUdnsdGDbY1yMIshP4q34efQL0ddArqjWnF3" tenping-ad-display-type="UD8Mia8gyIoT5Z2MT6VB3Q%3d%3d"></tenping><script async src='//ads.tenping.kr/scripts/adsbytenping.min.js' ></script>
            <br />
          </div>
        </div>

        <!-- area statistics -->
        <div class="row">
          <div class="col-lg-12 text-center">
            <canvas id="area-statistics-chart" width="878" height="900" style="border: 1px solid #CCCCCC;"></canvas>
          </div>
        </div>

        <hr />

        <!-- content type statistics -->
        <div class="row">
          <div class="col-lg-12 text-center">
            <canvas id="ct-statistics-chart" width="878" height="900" style="border: 1px solid #CCCCCC;"></canvas>
          </div>
        </div>

        <hr />

        <!-- session count statistics -->
        <div class="row">
          <div class="col-lg-12 text-center">
            <canvas id="sc-statistics-chart" width="878" height="900" style="border: 1px solid #CCCCCC;"></canvas>
          </div>
        </div>

        <hr />

        <tenping class="adsbytenping" style="width: 100%; margin: 0px auto; display: block; max-width: 768px;" tenping-ad-client="ULkZYhHDonqxNgJx%2bd2t5XgWCcx0QUdnsdGDbY1yMIshP4q34efQL0ddArqjWnF3" tenping-ad-display-type="67%2be3LHzHbblsB9oLrOpWQ%3d%3d"></tenping><script async src='//ads.tenping.kr/scripts/adsbytenping.min.js' ></script>

      </div>
    </section>

    <hr />

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <p class="large text-muted">본 정보는 한국관광공사에서 제공하는 공공데이터를 활용하였으며, 현지사정에 의해 변경될 수 있습니다.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <span class="copyright" style="font-family: 'cwTeXHei', 'Jeju Hallasan', serif;">Copyright &copy; 2018 GeoGiGaNi All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    </div>
    <!-- /.modal -->

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Contact form JavaScript -->
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/contact_me.js}"></script>

    <!-- Custom scripts for this template -->
    <script th:src="@{/js/agency.min.js}"></script>

    <!-- ChartJs -->
    <script th:src="@{/vendor/chartjs/Chart.bundle.js}"></script>
    <script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
    <script th:src="@{/vendor/chartjs/Chart.js}"></script>
    <script th:src="@{/vendor/chartjs/Chart.min.js}"></script>

    <!-- area statistics -->
    <script th:inline="javascript">
      var ctx = document.getElementById("area-statistics-chart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
            labels: getAreaLabels(),
            datasets: [
              {
                label: "인기도",
                backgroundColor: getRandomColors(20),
                data: getAreaData()
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: '지역별 인기도'
            }
          }
      });

      function getAreaLabels() {
        var data = /*[[${statistics_area_labels}]]*/;
        return data;
      }

      function getAreaData() {
        var data = /*[[${statistics_area_values}]]*/;
        return data;
      }

      function getRandomColors(count) {
          var data =[];
          for (var i = 0; i < count; i++) {
              data.push(getRandomColor());
          }
          return data;
      }

      function getRandomColor() {
          var letters = '0123456789ABCDEF'.split('');
          var color = '#';
          for (var i = 0; i < 6; i++ ) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return Chart.helpers.color(color).alpha(0.5).rgbString();
      }
    </script>

    <!-- contentType statistics -->
    <script th:inline="javascript">
      var ctx = document.getElementById("ct-statistics-chart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
            labels: getCTLabels(),
            datasets: [
              {
                label: "인기도",
                backgroundColor: getRandomColors(10),
                data: getCTData()
              }
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: '여행지 유형별 인기도'
            }
          }
      });

      function getCTLabels() {
        var data = /*[[${statistics_content_type_labels}]]*/;
        return data;
      }

      function getCTData() {
        var data = /*[[${statistics_content_type_values}]]*/;
        return data;
      }

      function getRandomColors(count) {
          var data =[];
          for (var i = 0; i < count; i++) {
              data.push(getRandomColor());
          }
          return data;
      }

      function getRandomColor() {
          var letters = '0123456789ABCDEF'.split('');
          var color = '#';
          for (var i = 0; i < 6; i++ ) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return Chart.helpers.color(color).alpha(0.5).rgbString();
      }
    </script>

    <!-- session count statistics -->
    <script th:inline="javascript">
      var ctx = document.getElementById("sc-statistics-chart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: getSCLabels(),
            datasets: [
              {
                label: "사용자(세션)",
                type: "line",
                borderColor: "#006600",
                fill: false,
                data: getSCData()
              },
              {
                label: "사용자(세션)",
                type: "bar",
                backgroundColor: "rgba(000,102,000,0.2)",
                backgroundColorHover: "#3e95cd",
                data: getSCData()
              },
            ]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: '사용자(세션단위) 수'
            },
            scales: {
              xAxes: [{
                  ticks: {
                      autoSkip: false,
                      maxRotation: 80,
                      minRotation: 45
                  }
              }],
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
            }
          }
      });

      function getSCLabels() {
        var data = /*[[${statistics_session_count_labels}]]*/;
        return data;
      }

      function getSCData() {
        var data = /*[[${statistics_session_count_values}]]*/;
        return data;
      }

      function getRandomColors(count) {
          var data =[];
          for (var i = 0; i < count; i++) {
              data.push(getRandomColor());
          }
          return data;
      }

      function getRandomColor() {
          var letters = '0123456789ABCDEF'.split('');
          var color = '#';
          for (var i = 0; i < 6; i++ ) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return Chart.helpers.color(color).alpha(0.5).rgbString();
      }
    </script>

    <script th:inline="javascript">

      function search() {
        var keywords = $("#keywords").val();
        keywords = keywords.trim();
        if(keywords == '') return;

        $("#search_form").submit();
      }

      function search_header() {
          var text = $("#keywords-header").val();
          text = text.trim();
          if(text == '') return;

          $("#search_form_header").submit();
      }

      function show_region(area_code) {
          var url = /*[[@{'/region-based-destinations/'}]]*/;
          url = url + area_code;
          $("#myModal").html('');
          $("#myModal").load(url, function() {
            $("#myModal").modal('show');
          });
      }

      function show_detail(dest_id) {
        var url = /*[[@{'/destination-detail/'}]]*/;
        url = url + dest_id;
        var form = document.createElement("form");
        form.setAttribute("method", "GET");
        form.setAttribute("action", url);
        document.body.appendChild(form);
        form.submit();
      }


      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition, handleError, {
                enableHighAccuracy: false,
                maximumAge: 0,
                timeout: 20000
              });
          } else {
              alert('Geolocation is not supported by this browser.');
          }
      }

      function showPosition(position) {
          var url = /*[[@{'/short-dist-destinations-from-me/'}]]*/;
          url = url + position.coords.latitude + '/' + position.coords.longitude;

          var form = document.createElement("form");
          form.setAttribute("method", "GET");
          form.setAttribute("action", url);
          document.body.appendChild(form);
          form.submit();
      }

      function handleError(error) {
        switch(error.code) {
        case error.PERMISSION_DENIED:
            alert('PERMISSION DENIED');
            break;
        case error.POSITION_UNAVAILABLE:
            // 위치 정보 사용이 불가능할 때
            alert('POSITION UNAVAILABLE');
            break;
        case error.TIMEOUT:
            // 위치 정보를 가져오려 시도했지만, 시간이 초과되었을 때
            alert('TIMEOUT');
            break;
        case error.UNKNOWN_ERROR:
            // 기타 알 수 없는 오류가 발생하였을 때
            alert('UNKNOWN ERROR');
            break;
        }
      }
    </script>

  </body>

</html>
